<header>
  <a href="/" class="{{isActive currentPath '/' }}">Home</a>
  <a href="/about" class="{{isActive currentPath '/about'}}">About</a>
  <a href="/users" class="{{isActive currentPath '/users'}}">Users</a>
</header>
