 * {
  margin: 0;
  padding: 0;
 }

html,body {
  min-height: 100vh;
}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display:  flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

a {
  color: #00B7FF;
}
